<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
	</ol>
</nav>

{{ define "breadcrumbnav" }}
	{{ if .p1.Parent }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
	{{ else if not .p1.IsHome }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
	{{ end }}
	{{ if ne .p1.Title .p1.Site.Title }}
	<li class="breadcrumb-item {{ if eq .p1 .p2 }}active{{ end }}" {{ if eq .p1 .p2 }}aria-current="page"{{ end }}>
		<a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
	</li>
	{{ end }}
{{ end }}