
<div class="card mb-3 sponsor-card">
    <div class="row g-0">
        <div class="col-md-2 d-flex align-items-center justify-content-center">
            <img src="{{ .logo }}" class="img-fluid rounded-start" alt="{{ .name }} Logo">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .sponsor_url }}" class="stretched-link"></a>{{ .name }} <i class="fas fa-external-link-alt fa-xs"></i></a></h5>
                <p class="card-text">{{ .blurb }}</p>
            </div>
        </div>
    </div>
</div>