{{ partial "header.html" .}}

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 align-self-center">
            <div class="site-heading text-center">
                <h1>{{ title .Site.Title }}</h1>
                <h3>{{ $.Site.Params.description }}</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item mb-2">
                    <a href="https://docs.kicad.org" class="btn btn-secondary"><i class="fa fa-book fa-fw"></i> <span class="network-name">Documentation</span></a>
                </li>
                <li class="list-inline-item mb-2">
                    <a href="/download/" class="btn btn-default btn-primary">
                        <i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span>
                        <i class="fab fa-linux font-weight-light"></i>
                        <i class="fab fa-apple font-weight-light"></i>
                        <i class="fab fa-windows font-weight-light"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-2">
                    {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")   }}
                        <a href="{{.RelPermalink}}" class="btn btn-secondary"><i class="fa fa-newspaper fa-fw"></i> <span class="network-name">See what's new</span></a>
                    {{end}}
                    
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</header>

    <!-- Page Content -->
    <!-- These content sections could potentially be adoc's later on for easy translation. We could then place them in a folder an loop through that to add it here. The image can be specified in the adoc also. Maybe even show some of the latests posts? -->
<a  name="services"></a>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="content-section-a mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Schematic Capture</h2>
                        <p class="lead text-align-justify">KiCad's Schematic Editor supports everything from the most basic schematic to a complex hierarchical design with hundreds of sheets.
                            Create your own custom symbols or use some of the thousands found in the official KiCad library.
                            Verify your design with integrated SPICE simulator and electrical rules checker.</p>
                        <a href="/discover/eeschema/" class="btn btn-secondary btn-block mb-3" aria-label="Learn more about schematic capture">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="/img/frontpage/kicad_eeschema.png" aria-label="Click to view larger image of iCEBreaker Bitsy schematic">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_eeschema_thumb.png" alt="Image of iCEBreaker Bitsy open in the KiCad Schematic Editor">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-a -->

            <div class="content-section-b mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 order-sm-1 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">PCB Layout</h2>
                        <p class="lead text-align-justify">KiCad's PCB Editor is approachable enough to make your first PCB design easy, and powerful enough for complex modern designs.
                            A powerful interactive router and improved visualization and selection tools make layout tasks easier than ever.
                        </p>
                        <a href="/discover/pcbnew/" class="btn btn-secondary btn-block mb-3"  aria-label="Learn more about pcb layout capabilities">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 order-sm-6 col-sm-6">
                        <a href="/img/frontpage/kicad_pcbnew.png" aria-label="Click to view larger image of iCEBreaker Bitsy PCB">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_pcbnew_thumb.png"  alt="Image of iCEBreaker Bitsy in the KiCad PCB Editor">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-b -->

            <div class="content-section-a mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">3D Viewer</h2>
                        <p class="lead text-align-justify">KiCad's 3D Viewer allows easy inspection of your PCB to check mechanical fit and to preview your finished product.
                            A built-in raytracer with customizable lighting can create realistic images to show off your work.
                        </p>
                        <a href="/discover/3dviewer/" class="btn btn-secondary btn-block mb-3" aria-label="Learn more about the 3D viewer">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="/img/frontpage/kicad_3dviewer.png" aria-label="Click to view larger image of iCEBreaker Bitsy PCB">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_3dviewer_thumb.png" alt="Image of iCEBreaker Bitsy PCB rendered in the KiCad 3D Viewer">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-a -->

            <div class="content-senction-a mb-3">
                <div class="row">
                    <p class="text-align-justify">Project shown: iCEBreaker Bitsy by 1BitSquared.<br />
                    © 2018-2020 1BitSquared
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        {{ partial "latest_blog_posts.html" . }}
        </div>
    </div>
</div>

{{ partial "footer.html" .}}