+++
title = "Corporate Sponsorship"
date = "2021-04-19"
aliases = [ "/sponsors/" ]
categories = [ "Sponsors" ]
weight = 10
summary = "The corporate sponsors that help to support KiCad's development"
[menu.main]
    parent = "Sponsors"
    name   = "Sponsorship"
+++

<p>
KiCad relies on the support of our community to build and expand the KiCad EDA platform.  We would like to thank the following Corporate Sponsors who have generously supported KiCad's development this year.
</p>

<p>
We encourage corporate users of KiCad to support the community by <a href="{{% ref path="become-a-sponsor.adoc" %}}">joining our Corporate Sponsorship Program.</a>
</p>

{{< sponsors_list title="Platinum Level Sponsors" filter="platinum">}}
{{< sponsors_list title="Gold Level Sponsors" filter="gold">}}
{{< sponsors_list title="Silver Level Sponsors" filter="silver">}}
{{< sponsors_list title="Bronze Level Sponsors" filter="bronze">}}

<h2>Historical Sponsors</h2>
<p>
We are grateful to our <a href="{{% ref path="historical.adoc" %}}">Historical Sponsors</a> for their past support of the KiCad EDA project.
</p>